@page "/Trabajos/Delete"
@page "/Trabajos/Delete/{trabajoId:int}"
@inject TrabajosServices trabajosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject NotificationService notificationService

<PageTitle>Eliminar Trabajo</PageTitle>

@if (Trabajo != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3><strong>Eliminar Trabajo</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar ese trabajo?</h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del trabajo</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>trabajoId:</strong> @Trabajo.TrabajoId</li>
                                                    <li><strong>Fecha:</strong> @Trabajo.Fecha</li>
                                                    <li><strong>Descripcion:</strong> @Trabajo.Descripcion</li>                                                    
                                                    <li><strong>Monto:</strong> @Trabajo.Monto</li>
                                                    <li><strong>ClienteId:</strong> @Trabajo.ClienteId</li>
                                                    <li><strong>TecnicoId:</strong> @Trabajo.TecnicoId</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-trash-fill"></i> Eliminar</button>
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Trabajo no encontrado.</p>
}



@code {
    [Parameter]
    public int trabajoId { get; set; }

    public Trabajos Trabajo { get; set; } = new Trabajos();

    protected override async Task OnInitializedAsync()
    {
        if (trabajoId != 0)
        {
            Trabajo = await trabajosServices.Buscar(trabajoId);
        }
    }

    public async Task Eliminar()
    {
        if (trabajoId == 0 || Trabajo == null)
        {
            return;
        }

        if (await trabajosServices.Eliminar(trabajoId))
        {
            Volver();
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Trabajos/Index");
    }

}