@page "/Trabajos/Detail"
@page "/Trabajos/Detail/{trabajoId:int}"
@inject TrabajosServices trabajosServices
@inject NavigationManager navigationManager
@inject ClientesServices clientesServices
@rendermode InteractiveServer
@inject NotificationService notificationService

<PageTitle>Detalles de Trabajo</PageTitle>

@if (Trabajo != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles del trabajo</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>ID de trabajo:</strong> @Trabajo.TrabajoId</li>
                                <li><strong>Fecha:</strong> @Trabajo.Fecha.ToString("dd/MM/yyyy")</li>
                                <li><strong>Descripcion:</strong> @Trabajo.Descripcion</li>
                                <li><strong>ID de cliente:</strong> @Trabajo.ClienteId</li>
                                <li><strong>ID de tecnico:</strong> @Trabajo.TecnicoId</li>
                                <li><strong>ID de prioridad</strong>@Trabajo.PrioridadId </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
                <a href=@($"https://wa.me/{Cliente?.Whatsapp}?text=Saludos,%20el%20trabajo%20está%20listo%20{Cliente?.Nombres}.") class="btn btn-success">
                    <span class="bi bi-whatsapp"></span> Enviar mensaje
                </a>
            </div>
        </div>
    </div>
}
else
{
    <p>Trabajo no encontrado.</p>
}

@code {
    [Parameter]
    public int trabajoId { get; set; }

    public Trabajos Trabajo { get; set; } = new Trabajos();

    public Clientes Cliente { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        if (trabajoId != 0)
        {
            Trabajo = await trabajosServices.Buscar(trabajoId);
            Cliente = await clientesServices.Buscar(Trabajo.ClienteId);
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Trabajos/Index");
    }

}